In [1]:
'''Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'''
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
'''Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.'''
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(my_list)

# Print the Pandas Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
'''Q3. Create a Pandas DataFrame that contains the following data:'''
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'''
import pandas as pd

# Create a dictionary with some data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print("DataFrame:")
print(df)
print()

# Extract a Series from the DataFrame
age_series = df['Age']

# Print the Series
print("Series (Age column):")
print(age_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series (Age column):
0    25
1    30
2    27
Name: Age, dtype: int64

'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?'''
head() and tail(): These functions are used to view the first or last few rows of the DataFrame, respectively. They are helpful for quickly inspecting the structure and contents of the DataFrame.

info(): This function provides a concise summary of the DataFrame, including the data types, non-null counts, and memory usage. It is useful for understanding the composition of the DataFrame and identifying missing values.

describe(): This function generates descriptive statistics for numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. It provides insights into the distribution and central tendency of the data.

loc[] and iloc[]: These functions are used for selecting rows and columns from the DataFrame based on labels (index names) or integer indices, respectively. They enable both label-based and integer-based indexing for data retrieval and manipulation.

drop(): This function is used to remove rows or columns from the DataFrame. It allows you to specify the labels of rows or columns to be dropped, as well as the axis along which to drop (0 for rows, 1 for columns).

fillna(): This function is used to fill missing (NaN) values in the DataFrame with a specified value or a method such as forward fill or backward fill. It helps in handling missing data and ensuring the completeness of the dataset.

groupby(): This function is used to group data in the DataFrame based on one or more columns and perform operations (e.g., aggregation, transformation) on each group. It is useful for analyzing data by categories or segments.

apply(): This function is used to apply a function along one or more axes of the DataFrame. It can be used to transform each element, row, or column of the DataFrame using a custom or built-in function.

sort_values(): This function is used to sort the DataFrame by one or more columns. It allows you to specify the columns to sort by and the order (ascending or descending) of sorting.

pivot_table(): This function is used to create a pivot table from the DataFrame, aggregating data based on one or more columns and applying aggregation functions such as sum, mean, count, etc.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Series: A Pandas Series is a one-dimensional labeled array that can contain data of any type. It is mutable, meaning that you can modify its elements, change its values, or add/remove elements after creation. For example, you can update the values of a Series using indexing or assignment (series[index] = value).

DataFrame: A Pandas DataFrame is a two-dimensional labeled data structure with columns of potentially different types. Like Series, it is mutable, allowing you to modify its contents, add or remove columns, or perform various data manipulation operations. You can update values, add new columns, or drop existing columns using DataFrame methods and functions.

Panel: A Pandas Panel is a three-dimensional labeled data structure that can be thought of as a container for DataFrame objects. However, Panels are not mutable; once created, their structure and contents cannot be modified. Panels were deprecated in Pandas version 0.25.0 and are no longer recommended for use. Instead, you can use multi-index DataFrames or other data structures to represent multidimensional data.

In [5]:
'''Q7. Create a DataFrame using multiple Series. Explain with an example.'''
import pandas as pd

# Create multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create a DataFrame using the Series
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
})

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female